.floatLabel {
    display: flex;
    flex-direction: column;
    position: relative;
}
.floatLabel label{
    color: var(--chakra-colors-secondary-700);
    position: absolute;
    transform: translate(16px, 14px) scale(1);
    pointer-events: none;
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }
  
  .floatLabel:focus-within label {
    transform: translate(16px, 0px) scale(0.75);
    color: black;

  }
  .floatLabel .Active {
    transform: translate(16px, 0px) scale(0.75);
    color: black;

  }